<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: rgb(140, 217, 247);color: white;">
        <h1>SYSTEM INFO</h1>
    </div>
</div>
<div class="container px-4">
    <ul>
        <li>Argumentos de entrada: <b>{{info.args}}</b></li>
        <li>Nombre de la plataforma: <b>{{info.os}}</b></li>
        <li>Versión de Node.JS: <b>{{info.nodeV}}</b></li>
        <li>Memoria total reservada rss: <b>{{info.memoryReserved}} Bytes</b></li>
        <li>Path de ejecución: <b>{{info.pathDeEjecucion}}</b></li>
        <li>Process id: <b>{{info.pid}}</b></li>
        <li>Carpeta del proyecto: <b>{{info.folder}}</b></li>
    </ul>
</div>